# these Folders are created by an included Script - since they are big they should be created by the users themselves
voice/
voice-L044/
voice-L049/

# macro files generated via included Script - no need to sync
assets/generated/

# ignore Logo Files for now - during integration in this mod i will add a method to create them automatically
assets/markings/

# .cat/.dat files should be ignored because they usually only contain the packed Mod Data which lies in raw form in the repository, so it would be redundant
*.cat
*.dat


# personal startup file 
XRebirthXRI.bat

# Notices for Surprises, dont wanna share it :D :P
ToDo/special.txt